.RadioGroup {
    font-size: 12px;
    padding: 20px;
    text-align: center;;
}

.Radio-label {
    padding:  10px;   
    font-size: 15px;
    background-color: #e2dfdf;
    border-radius: 10%;
    margin-right: 5px;
}

.Radio-fieldset { 
    border:  1px;
    padding: 10px;
    font-size: 11px;
    text-align: left;;
}

.Radio-input {
    margin-right: 10px;
    
}

.legend {
    font-size: 15px;
    font-weight: bold;
}

