.RadioGroup {
    font-size: 12px;
    padding: 20px;
    text-align: center;;
}

.Radio-label {
    padding:  10px;   
    font-size: 15px;
    
    
}

.Radio-fieldset { 
    border:  1px;
    padding: 20px;
    background-color: beige;
    font-size: 10px;
    text-align: left;;
}

.Radio-input {
    margin-right: 10px;
}