.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0.9;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;

    /* Set maximum width and prevent text overflow */
    max-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tooltip-top {
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}