.radioGroup-label { font-size : '10px'}

.modal {
    width: 550px;
    height: 300px;

}

.inquiryBtn {
   
    margin: 10px;
}

.calendar-wrap input {
    width: 150px;
}

.calwrap {
    padding-left: 10px;
}

