.account_box{
    margin:20px;
    padding:20px;
    background-color: #f5f9f7;
    border-radius: 10px;    
}
.account_box1{
    margin:20px;
    padding:20px;
    background-color: #f5f9f7;
    border-radius: 10px;    
}
.account_hide_btn{
    background-color: #f7e7e7b8;
    color: grey;
    border:none;
    margin-left: 5px;
}
.account_box p{
    margin:0;
}
.inner_title{
    font-weight:bold;
}
.inner_sub_title{
    font-size: 14px;
    font-weight:bold;
    color: #929696;
}
.txt_price{
    text-align:center;
    padding: 20px;
}
.txt_price1{
    text-align:center;
    padding: 3px;
}
.txt_price span,.txt_price1 span{
    font-weight:bold;
    font-size: 25px;
}
.txt_price button{
    background-color:#ddd;
    border-radius:10px;
    border:1px solid #ddd;
    color:#8a8989;
    font-size:14px;
    font-weight:bold;
}
.btn_wrap{
    background-color: #f5f9f7;
    margin-top:20px;
    display:table;
    width:100%;
}
.btn_wrap>span{
    display: table-cell;
    width:50%;
    text-align:center
}
.btn_wrap>span:first-child{
    border-right:1px solid #ddd;
}
.btn_wrap>span>button{
    font-size:14px;
    font-weight: bold;
    background-color: #f5f9f7;
    border: 1px solid #f5f9f7;
    color:#387c57;
}
.imgArea {
    background-color: #f5f9f7;
    margin-top:20px;
    overflow: hidden;
    padding: 0 18px 0 18px;
}
.imgArea>div{
    float:left;
    width:33.3%;
    text-align: center;
    font-weight: bold;
    color: #3e3f3e;
}
.icoImg {
    border-radius: 18px;
    display: block;
    height: 60px;
    width: 60px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f7e7e7b8;
}
.slide_wrap {
    margin: 20px 20px 40px 20px;
}
.slide_wrap img{
    width:100%
}
.float_right {
    float: right;
}
.text_center {
    text-align: center;
}
.sub_title {
    font-size: 18px;
    font-weight:bold;
    color: #929696;
}
.account_box1 {
    margin:20px;
    padding:20px;
    background-color: #ecdede;
    border-radius: 10px;    
}
.temp_btm_pop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 100;
    padding: 30px 24px;
    border-radius: 24px 24px 0 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.temp_btm_pop input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid green;
    line-height: 30px;
}
.temp_btm_pop input:focus {
    outline: none;
}
.temp_btm_pop_tab{
    margin: 14px 0 10px 0;
    padding: 0;
}
.temp_btm_pop_tab > div {
    padding: 0;
}
.temp_btm_pop_tab ul {
    margin-bottom: 0;
    padding-left: 0;
}
.temp_btm_pop_tab ul > li {
    height: 35px;
    line-height: 35px;
}
.account_btn_list {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border: none;
    background: none;
}
.account_btn_list span:first-child {
    flex-shrink: 0;
    justify-content: start;
    display: block;
    width: 38px;
    height: 38px;
    margin-right: 20px;
    > img {width: 100%; height: auto; margin: 0; padding: 0; vertical-align: top;}
}
.account_btn_list span + span {
    flex-grow: 1;
    text-align: left;
    p:first-child{margin: 6px 0 8px 0; color: #000; font-size: 18px; font-weight: bold;}
    p + p {margin-bottom: 0; color: #333; font-size: 14px;}
}
.temp_btm_pop_tab li {
    background-color: white;
    color: black;
}
.temp_btm_pop_tab li[class*=active]{
    font-weight:bold;
    border-bottom: 2px solid #387c57;
}
.temp_btm_show {
    bottom: 0;
}